 @keyframes flash {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.flash {
  animation-duration: 0.5s;
  animation-name: flash;
}