html {
  height: 101%;
  font-family: "monument";
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 15px;
}
body {
  height: 100%;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.36em;
  // background: #fff;
  background-color: #d5d5d5;
  color: $Pcolor;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Page {
  flex: 1;
}

.m-hidden {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.m-show {
  display: block;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
