.featured {
  margin: auto;
  // padding-bottom: $gutter;
  border-bottom: dashed 1px $Scolor;
  // margin-bottom: 2em;
  &__loading {
    margin-bottom: $gutter;
    color: $Scolor;
  }

  &__item {
    transition: opacity linear 0.2s;
    margin-bottom: $gutter;
    padding: 1rem;
    margin: auto;
    font-size: 1.4em;
    line-height: 1.375;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $gutter 0;

    // margin-bottom: 3em;
    border-bottom: dashed 1px $Scolor;
    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border-bottom: none;
    }

    @media only screen and (max-width: 480px) {
      width: 300px;
      padding: 0em 1em;
      margin-bottom: $gutter;
    }
    &__wrapper {
      width: 900px;
      display: flex;
      gap: 2em;
    }

    &:nth-child(even) {
      .featured__item__wrapper {
        flex-direction: row-reverse;
      }
    }
    img {
      display: block;
      position: relative;
      // float: right;
      top: 5px;
      margin-left: 5px;
      margin-bottom: 10px;
      min-width: 50px;
      max-width: 280px;
      max-height: 280px;
      @media only screen and (max-width: 480px) {
        width: 100px;
      }
    }
    &__title {
      margin: 0;
      padding: 0;
      // text-decoration: underline;
      line-height: 1em;
      hyphens: auto;

      @media only screen and (max-width: 480px) {
        font-size: 1.8em;
      }
    }
    &__client,
    &__year {
      display: inline-block;
      padding: 0;
      margin: 0;
      // padding-bottom: 5px;
      padding-top: 4px;
      @media only screen and (max-width: 480px) {
        font-size: 1em;
      }
    }
    &__play {
      padding-left: 0.5em;
      i {
        color: $Pcolor;
        transform: translateY(-0.1em);
      }
    }
    .audio-loader {
      display: none;
    }
  }
}

body.audio-loading {
  .audio-loader {
    display: inline-block;
  }
}
