.who {
  &__staff {
    &__item {
      padding: $gutter;
    }
    &__image {
      img {
        width: 66vw;
        max-width: 100%;
        margin: auto;
      }
    }
    &__title {
      margin-top: $gutter;
    }
    &--other {
      .who__staff__image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 350px;
      }
    }
  }
}